{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container justify-content-center profile-page">
   {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="card card-4 register-page">  
            <h1 class="text-center profile-header" >Profile</h1> 
          <div class="card-body">
            <div class="row">
                <h2 class="text-center">Welcome:</h2>
                <p class="thick-font text-center">{{ user.username }}</p>
                <div class="image-wrapper">
                    {% if "placeholder" in user.extendeduser.profileImage.url %}
                        <img id="profile_image" src="https://res.cloudinary.com/dccc1wpyc/image/upload/v1696540650/no-image-found_gbce8p.png" alt="user-profile-image"/>
                    {% else %}
                        <img id="profile_image" src="{{ user.extendeduser.profileImage.url }}" alt="user-profile-image" >
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_picture_form | crispy }}
                    <h3>Change Profile Picture</h3>
                    <button type="submit">Upload</button>
                </form>
            </div>
           <!-- <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ password_change_form | crispy }}
             <h3>Change Profile Picture</h3>
            <button type="submit">Change Password</button>
            </form>
            </div>-->
          </div>
       </div>
      </div>
      {% endif %}
    </div>
  </div>
  


{% endblock content %}