@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    color: #4B8D97;
    font-size: 1.6rem;
    background-color: #D4DCDE;
}
footer {
  font-size: 1.2rem;
}

button {
  border-radius: 15px;
  /*background-color: #D4DCDE;*/
  color: #4B8D97;
}
button:hover {
  background-color: #D4DCDE;
}

ul {
    list-style-type: none;
}

.navbar .navbar-brand .logo-image {
    width: 80px;
  }

.nav-item a {
    color: #4B8D97;
}
  
  .logo-image {
    width: 100px;
    height: auto;
  }

  /*---------------------------------------
  search form               
-----------------------------------------*/
.search-form {
    outline: none;
  }

.search-form button[type="submit"] {
    border-radius:30px;
    max-width: 80px;
    background-color: #4B8D97;
  }


  /*---------------------------------------
  subscribe form               
-----------------------------------------*/
  .subscribe-form button[type="submit"]{
    background-color: #4B8D97;
  }


  /*---------------------------------------
  Images           
-----------------------------------------*/
.img-display-category {
  max-width: 160px;
  max-height: 160px;
}

  /*---------------------------------------
  Footer           
-----------------------------------------*/
.site-footer {
  margin-top: 100px; 
}


  /*---------------------------------------
  Category list           
-----------------------------------------*/
.list-group-container {
  margin:15px;
  max-width: 400px;
}

.category-header-wrapper{
  background-color: #4B8D97;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

#category-header {
  color: #D4DCDE;
  margin-left:5px;
}

.list-group-item {
  color: #D4DCDE;
  background-color: #4B8D97;
}
.category-thumbnail {
  max-width: 50px;
  float: right;
}
.list-group-item:hover {
  opacity: 50%
}

/*---------------------------------------
  Post feed / detail          
-----------------------------------------*/
.posts-heading {
  border-bottom: 2px solid #4B8D97;
}
.post-border {
  border-bottom: 2px solid #4B8D97;
  padding-bottom: 30px;
}

.comment-profile-img {
  height: 100px;
  width: 100px;
}

.comment-wrapper {
  background-color: #4B8D97;
}

.post-category {
 text-decoration: underline;
}

.like-container, .like-container-detail .fa-thumbs-up {
  color: #478d97;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.post-header-container {
  margin-top: 15px;
}

.like-container-detail i {
  padding-left: 15px;
}


/*---------------------------------------
  Comments       
-----------------------------------------*/

/*Adds background color to every even objekt in comments section. */
.card-body .even {
  background-color: #D4DCDE;
}
#addComment {
  width: 80%;
}
.comment-form button{
  width: 100%;
}
.comment-text-content {
  border-right: 1px solid #4B8D97;
  border-left: 1px solid #4B8D97;
}
.textarea.form-control {
  font-size: 1.7rem;
  max-height: 200px;
}
.card-body .comment {
  color: #4B8D97;
}
.comment-confirmation {
  display: none;
  background-color: #D4DCDE;
  color: #4B8D97;
  border-radius: 15px;
  margin-top: 10px;
}

/* blinking animation  */
.blink {
  animation: blinking-animation 0.8s steps(2, start) infinite;
  -webkit-animation: blinking-animation 0.8s steps(2, start) infinite;
}

@keyframes blinking-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blinking-animation {
  to {
    visibility: hidden;
  }
}

/*---------------------------------------
  Register       
-----------------------------------------*/
.register-page {
  background-color: #478d97;
  border-radius: 15px;
}
.register-page label, p {
  color:#D4DCDE
}

#signup_form input {
  border-radius: 10px;
}
#signup_form button {
  width: 370px;
}

/*---------------------------------------
  sign in       
-----------------------------------------*/
.login-page {
  background-color: #478d97;
}
.login-page label, p{
  color:#D4DCDE
}
#login_form button {
  width: 370px;
}
#login_form input {
  border-radius: 10px;
}