@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    color: #4B8D97;
    font-size: 1.6rem;
    background-color: #D4DCDE;
}
footer {
  font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

.navbar .navbar-brand .logo-image {
    width: 80px;
  }

.nav-item a {
    color: #4B8D97;
}
  
  .logo-image {
    width: 100px;
    height: auto;
  }

  /*---------------------------------------
  search form               
-----------------------------------------*/
.search-form {
    outline: none;
  }

.search-form button[type="submit"] {
    border-radius:30px;
    max-width: 80px;
    background-color: #4B8D97;
  }


  /*---------------------------------------
  subscribe form               
-----------------------------------------*/
  .subscribe-form button[type="submit"]{
    background-color: #4B8D97;
  }


  /*---------------------------------------
  Images           
-----------------------------------------*/
.img-display-category {
  max-width: 160px;
  max-height: 160px;
}

  /*---------------------------------------
  Footer           
-----------------------------------------*/
.site-footer {
  margin-top: 100px; 
}


  /*---------------------------------------
  Category list           
-----------------------------------------*/
.list-group-container {
  margin:15px;
  max-width: 400px;
}

.category-header-wrapper{
  background-color: #4B8D97;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

#category-header {
  color: #D4DCDE;
  margin-left:5px;
}

.list-group-item {
  color: #D4DCDE;
  background-color: #4B8D97;
}
.category-thumbnail {
  max-width: 50px;
  float: right;
}
.list-group-item:hover {
  opacity: 50%
}

/*---------------------------------------
  Post feed           
-----------------------------------------*/
.posts-heading {
  border-bottom: 2px solid #4B8D97;
}
.post-border {
  border-bottom: 2px solid #4B8D97;
  padding-bottom: 30px;
}

.comment-img {
  height: 50px;
  width: 50px;
}

.comment-wrapper {
  background-color: #4B8D97;
}

.post-category {
 text-decoration: underline;
}

.fa-thumbs-up {
  color: #478d97;
  padding-left: 10px;
}

.post-header-container {
  margin-top: 15px;
}