@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    color: #D4DCDE;
    font-size: 19px;
    background-color: #D4DCDE;
}

ul {
    list-style-type: none;
}

.navbar .navbar-brand .logo-image {
    width: 80px;
  }

.nav-item a {
    color: #4B8D97;
}
  
  .logo-image {
    width: 100px;
    height: auto;
  }

  /*---------------------------------------
  search form               
-----------------------------------------*/
.search-form {
    outline: none;
  }

.search-form button[type="submit"] {
    border-radius:30px;
    max-width: 80px;
    background-color: #4B8D97;
  }


  /*---------------------------------------
  subscribe form               
-----------------------------------------*/
  .subscribe-form button[type="submit"]{
    background-color: #4B8D97;
  }