{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container justify-content-center profile-page">
        <h1 class="text-center">Create post</h1>
        {% if user.is_authenticated %}
         <div class="row">
           <div class="col-md-8 mt-3 offset-md-2">
             <div class="card card-4 register-page">  
                 <h1 class="text-center profile-header" >Profile</h1> 
               <div class="card-body">
                 <div class="row">
                     <h2 class="text-center">Create post as:</h2>
                     <p class="thick-font text-center">{{ user.username }}</p>
                 </div>
                 <div class="row">
                     <form method="post" enctype="multipart/form-data">
                         <!-- Override rendering for categories field -->
                             {% csrf_token %}
                             <!--- Exlude crispy default categories --->
                             {{ post_form | crispy }}
                         <button type="submit">Add post</button>
                     </form>
                 </div>
               </div>
            </div>
           </div>
           {% else %}
           <p>plese login to post</p> 
           {% endif %}
         </div>
       </div>


{% endblock content %}