{% extends 'base.html' %} {% block content %}

    <h1>
        Create a post
    </h1>
   <!-- <form method="post" action="create-post">
        {% csrf_token %}
        {{ form }}
        <div>
            <p>
              <button type="submit">Add item</button>
            </p>
        </div>
    </form>
-->
   <!-- {% if user.is.authenticated %}
    <form method="post" action="create-post">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_heading">Name: Header</label>
                <input type="text" id="id_heading" name="post_heading" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_content">Name: content</label>
                <input type="text" id="id_content" name="post_content" />
            </p>
        </div>
        <div>
           
            <p>
                <button type="submit">Add item</button>
            </p>
        </div> 
    </form>
    {% else %}
    <p>plese login to post</p> 
    {% endif %}-->

