{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center posts-heading">Latest Posts</h1>
            {% for post in posts %}
                {% if post.approved %}
                    <div class="container post-border">
                        <div class="row">
                            <div class="post-header-container align-items-center">
                                <a href="{% url 'post_detail' slug=post.slug  %}" ><h2 class="text-center">{{ post.heading }} 
                                </h2></a>                                 
                            </div>
                            <div class="like-container text-center">
                                <span><i class="fa-regular fa-thumbs-up" >Likes: </i><span id="like-counter">{{ post.amount_of_likes }}</span></span>
                            </div>
                            <div class="col-lg text-center">
                                <h3 class="text-center" >Categories:</h3>
                                {% for category in post.categories.all %}
                                <p class="text-center post-category">{{ category.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
</div>

{%endblock%}