{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <h1 class="text-center posts-heading">{{ post.heading }} </h1>
                {% if post.approved %}
                    <div class="container post-border">
                        <div class="row">
                                <div class="like-container-detail text-center">
                                    <span>Likes: <span id="like-counter">{{ post.amount_of_likes }}</span>
                                    <a href="{% url 'like_post' slug=post.slug %}"><i id="like-post-detail" class="fa-regular fa-thumbs-up" ></i></a>
                                </span>
                                </div>                               
                            <div class="col-lg text-center">
                                <h3 class="text-center" >Categories:</h3>
                                {% for category in post.categories.all %}
                                <p class="text-center post-category">{{ category.name }}</p>
                                {% endfor %}
                                <p class="text-center"> </p>
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class=""
                                        src="https://res.cloudinary.com/dccc1wpyc/image/upload/v1696540650/no-image-found_gbce8p.png" alt="post-feed-image-no-image-found">
                                    {% else %}
                                    <img src=" {{ post.image.url }}" alt="post-feed-image" >
                                    {% endif %}
                                    <p>{{ post.content | safe }}</p>
                                <!-- using | safe to remove tags--->
                                <!-- comment section--->
                                <div class="d-flex justify-content-center">
                                    <div class="col-md-8 col-lg-6">
                                    <div class="card shadow-0 border comment-wrapper">
                                        <div class="card-body p-4">
                                        <div class="form-outline mb-4">
                                            {% if user.is_authenticated %}
                                                <form class="comment-form" method="post">
                                                    {% csrf_token %}
                                                    {{ comment_form | crispy }}
                                                    <button type="submit">Add Comment</button>
                                                    <div class="comment-confirmation blink"></div>
                                                </form>
                                            {% else %}
                                                <label class="form-label" >You need to be logged in to add comments</label>
                                            {% endif %}
                                        </div>
                                
                                        <div class="card mb-4">
                                            {% for comment in comments %}
                                                    <!-- make every second comment diffrent bg color to diverse comments--->
                                                    <div class="card-body comment {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex flex-row align-items-center">
                                                               <label id="comment-author-label">BY: {{ comment.author }}</label>
                                                                {% if "placeholder" in comment.author.extendeduser.profileImage.url %}
                                                                    <img class="comment-profile-img" src="https://res.cloudinary.com/dccc1wpyc/image/upload/v1696540650/no-image-found_gbce8p.png" alt="comment-user-image"/>
                                                                {% else %}
                                                                    <img class="comment-profile-img" src="{{ comment.author.extendeduser.profileImage.url}}" alt="comment-user-profile-image" >
                                                                {% endif %}
                                                            </div>
                                                            <p class="small mb-0 ms-2 comment-text-content">{{ comment.content }}</p>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <a href="{% url 'like_comment' slug=comment.slug %}"><i class="fa-regular fa-thumbs-up" id="like-comment-detail" style="color: #478d97;"></i></a>
                                                                <!-- Shows amount of likes on a comment-->
                                                                <p class="small mb-0">{{ comment.amount_of_likes }}</p>
                                                            </div>
                                                               
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
</div>
{% endblock content %}